@tailwind base;
@tailwind components;
@tailwind utilities;

.dark::selection {
  background: #ffffff99;
  color: var(--foreground);
}

.dark::selection {
  background: #00000099;
  color: var(--foreground);
}

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 7%;
    --card: 45 18% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 45 18% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 40, 11%, 89%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 40, 11%, 89%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 40, 10%, 94%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 45, 5%, 85%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 7%;
    --foreground: 0 0% 98%;
    --card: 0, 0%, 7%;
    --card-foreground: 0 0% 98%;
    --popover: 0, 0%, 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 142.1 87.6% 63.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 0, 0%, 11%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0, 0%, 11%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 0, 0%, 11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359, 100%, 61%;
    --destructive-foreground: 0, 0%, 100%;
    --border: 0, 0%, 17%;
    --input: 0, 0%, 11%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--font-sans), system-ui, sans-serif;
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.padding-hack {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.padding-hack iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.fancy-button {
  padding: 0.75px;
  position: relative;
  overflow: hidden;
}

.dark .fancy-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #02fcf1,
    #02defc,
    #0fc576,
    #3ecf8e,
    #02fcb1
  );
  z-index: -1;
}

.radial-gradient {
  background: radial-gradient(
    at top center,
    hsla(0, 0%, 100%, 0.04) 0,
    transparent 200px
  );
}

.dark .glow-green {
  box-shadow: 0 0 40px -3px #3ecf8e;
}
