.DS_Store
node_modules
.turbo
*.log
.next
.vercel
.trigger
dist
dist-ssr
*.local
.cache
server/dist
public/dist
vite.config.ts.timestamp*

scripts/migrations/data

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local
!packages/apps/**/.env
packages/database/.env
packages/database/supabase/seed.sql

.vercel